
{% extends 'partials/base.html' %}
{% block title %} Password Reset page {% endblock %}

{% block content %} 
<div class="ver">
<div class="container">
    <div class="row mt-2">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 bg-dark text-warning">
                <h3>Password Reset Done Page</h3> <hr>
                <div class="alert alert-warning">
                    <h5>A mail has been sent to the email address you provided. It has instructions you need to follow to reset your password</h5>
                </div>
               
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
