{% extends 'partials/base.html' %}
{% block title %} Password Reset Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %} 

<div class="ver">
         
<div class="container float-left ">
    <div class="row  pt-3 center col-md-12 offset-md-6">
        <div class="col-md-5 ">
            
            <div class="card bg-dark text-warning ">
             
                <div class="card-body shadow">
                    <h2 class="text-center"> password Reset page </h2> <hr>
                    {% for message in messages %}
                    {% if message %}
                    <div class="alert alert-{{message.tags}}">
                     {{message}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <form method="POST"> 
                    {% csrf_token %}
                        {{form | crispy}}
                <input class="btn btn-warning btn-block col-md-5 offset-md-3"  type="submit" value="Reset Password">
                
                    </form>
                  
                </div>
                
               
                
            </div>
        </div>
      
       
    </div>
</div>

</div>
{% endblock %}