{% extends 'partials/base.html' %}
{% block title %} Password Reset Confirm Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %} 

<div class="ver">
         
<div class="container float-left ">
    <div class="row  pt-3 center col-md-11 offset-md-1">
        <div class="col-md-5 ">
            
            <div class="card bg-dark text-warning ">
             
                <div class="card-body shadow">
                    <h4 class="text-center"> password Reset Confirm page </h4> <hr>
                    
                    <form method="POST"> 
                    {% csrf_token %}
                        {{form | crispy}}
                <input class="btn btn-warning btn-block col-md-6 offset-md-3"  type="submit" value="Confirm Password">
                
                    </form>
                  
                </div>
                
               
                
            </div>
        </div>
      
       
    </div>
</div>

</div>
{% endblock %}